#add{
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	bottom:0;
	right:0;
  background:rgba(255,255,255, .85);

  @include display_flexbox(center);

  .flash-error.disabled{
    display:none;
  }
  
  form{
  	max-width:800px;
  	width:100%;
  	display:table;
  	margin:3em auto;
    fieldset{
      background-color:white;
     
      @media(max-width: 860px){
         border:0;
      }
    }
 		textarea{
 			height:48px;
 		}	
    .button-group{
      margin: 0em auto;
      display: table;
    }
    #save-story{
      clear: left;
      margin: 2em auto 0 auto;
    }

    .button-group label {
        float: left;
    }

    .button-group{
      margin:1em auto;
    }

    .button-group label:first-child .button-group-item {
        border-bottom-left-radius: 3px;
        border-left: 1px solid silver;
        border-top-left-radius: 3px;
        border-top-right-radius: 0;
    }

    .button-group label:last-child .button-group-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-right: 1px solid silver;
        border-top-right-radius: 3px;
      }

    .button-group label .button-group-item {
        border-bottom: 1px solid silver;
        border-left: 0;
        border-right: 1px solid #eeeeee;
        border-top: 1px solid silver;
        width: auto;
      }


    input[type="file"]{
        background-color: #efefef;
        border-radius: 3px;
        border: 0;
        color: #666;
        display: inline-block;
        font-size: inherit;
        font-weight: normal;
        padding: 7px 18px;
        text-decoration: none;
        background-clip: padding-box;
        display: block;
        margin: auto;
        outline: none;
        padding: 0.8em 1em;
        text-align: center;
    }



    input[type="text"], textarea{
        border: 0;
        border-radius:0;
        border-bottom: 1px solid #ddd;
        box-shadow: none;
    }
    input[type="text"]:focus, textarea:focus{
        box-shadow:none;
    }
  }

}