article{
  height:100%;
}
#overlay.item{
  position:static;
  background: rgba(240,240,240, .90);
}
article.type-system-slab{
  // padding-bottom:2em;
  
  .type{
    font-family: $secondary_font;
    font-weight:500;
  }

  h2.comments{
    font-family: $primary_font;
    font-weight:700;
  }
  
  p, .editable{
    font-family: $primary_font;
  }

  p.date{
    font-family: $secondary_font;
    text-transform:uppercase;
    font-weight:500;
  }

  h1{
    font-family: $title_font;
    font-size:3.4em;
    font-weight:700;
  }

}

h4.cat {
  background: #FFCD0D;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
  display:table;
  display:none;
}

h4.tag{
  background: #FFB24E;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
  display:table;
}
h4.tag:hover{
  background:#FFC51B;
}

main {    
    /*max-width: 1080px;*/
    padding: 3em 0 0 0;
    width: 100%;
    height:100%;
    display: table;
    // background: #fafafa;
/*    height:100%;
    padding-bottom:112px;
    padding-top:1em;*/
    // box-shadow: 0px 1px 52px 7px rgba(0, 0, 0, 0.1);
    
    .delete{
      display:none;
    }
}

main > div{margin:2em 0em;}

header{
  padding:6em;
}

section.main{
  background: white;
  padding:2em;
  width:100%;
  // box-shadow: 0px 1px 52px 7px rgba(0, 0, 0, 0.1);

  height:auto;
  min-height:24em;
  float:left;
}

section.content{
  width:70%;
  padding:2em 4em;
  float:left;
}
section.sidebar{
  float:left;
  width:30%;
  padding:2em 0;

  .nearby{

  }

  .related{
    margin-top:2em;
  }
}

article.image header, article.video header{
  padding: 2em;

  h1{
    display:table;
    margin-left:auto;
    margin-right:auto;
    font-size: 2.4em;
    text-align:center;
  }

  p.date{
    display:table;
    margin-left:auto;
    margin-right:auto;

  }
  p.type{
    display:table;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
  }

  img{
    min-height: 350px;
    max-height: 500px;
    max-width: 800px;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }


}
.profile{
    float: left;
    width: 100%;
    margin-bottom: 1em;
    height: 7em;

    .profile-image{
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgZmlsbD0iIzRmNjM4ZCI+PC9yZWN0Pgo8cGF0aCBkPSJNMCAxNUw3LjUgMEwxNSAxNVoiIGZpbGw9IiMzMDMzNTUiPjwvcGF0aD4KPC9zdmc+");      height: 2.6em;
      width:2.6em;
      float: left;
      /* margin: .5em; */
      border-radius: 100%;
    }
    h4{
      margin: .8em 4em;
    }
}