footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width:100%;
    background: rgba(0, 0, 0, 0.88);
    margin:0;
    padding:0;
    overflow: hidden;
	color:white;
	font-size: small;
}
