/* Colors */
$nav_color: rgba(9, 125, 202, 0.9);
$dark_gray: #333;
$med_gray: #ddd;
$light_gray: #efefef;


/* Typography */
$primary_font: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary_font: "Roboto Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title_font: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$nav_font: $primary_font;



/* Mixins */
@mixin display_flexbox($align){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  -webkit-box-align: $align;
  align-items: $align;
}