
.vote{
	float:right;
	height:2em;
	overflow:hidden;

	.up, .down{
		width:2.5em;
		cursor:pointer;
		stroke: $dark_gray;
	}
	.vote-count{
		width:2.5em;
		
		text{
			font-family: $primary_font;
			fill: $dark_gray !important;
		}
	}
}

/* For the landing page */
#hud {
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	overflow-y:scroll;

	@include display_flexbox(center);

	.grid-items-lines .grid-item{
	    background: rgba(255,255,255,0.95);
	}	
	
	.grid-items-lines .grid-item:hover{
	    background: rgba(255,255,255,0.95);
	}	
	
	.grid-item{
		height:18em;
	}
	
	.inner{
		width:100%;
		padding:0 11px;
		display:flex;
		margin-bottom:112px;
	}
}

.grid-item {
	
	.inner {
	    position: relative;
	    width: 100%;
	    height: 100%;
	}
	
	h1 {
		font-family: $primary_font;
	}
	
	p {
		float:left;
	}

}

.top-links h2{
	font-family: $primary_font;
	font-weight:700;
}	

.grid-items-lines .grid-item img {
  opacity:0.35;
}

