#d3{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    z-index:-1;
    background:#f9f9f9;
    opacity:1;
}

.tile path {
  fill: none;
  stroke: gainsboro;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.landuse-layer{stroke:none;}
.tile .water, .tile .ocean { fill: #5AC3F2; stroke: #5AC3F2; }
.tile .river, .tile .stream, .tile .canal { stroke: #5AC3F2; stroke-width: 1.5px;}
.tile .riverbank { fill: #5AC3F2;stroke: #5AC3F2; }
.tile .major_road { stroke: #999; stroke-width: 1px; }
.tile .minor_road { stroke: gainsboro; stroke-width: 0.5px; }
.tile .highway { stroke: #5CCB59; stroke-width: 1.5px; }
.tile .buildings-layer, .building { stroke: #987284; stroke-width: 0.15px; }
.tile .park, .tile .nature_reserve, .tile .wood, .tile .protected-land {fill: #88D18A;}
.tile .rail { stroke: #503D3F; stroke-width: 0.5px; }


/*.roads-layer.path{stroke:gainsboro;}
.landuse-layer{stroke:none;}
.park{fill:green;}
.river, .stream{stroke:#02AEE0;}
.water, .riverbank{stroke:#02AEE0;fill:#02AEE0;}
.building, .buildings-layer{stroke-width:.5px;}
.major_road { stroke: silver; stroke-width:1.5px;}
.minor_road { stroke:gainsboro; }
.highway { stroke: lightslategray; stroke-width: 1.5px; }
.rail { stroke: none; }*/


/*text.quarter{fill:pink;font-size:.9em;}
text.hamlet{fill:blue;font-size:.5em;}
text.suburb{fill:red;font-size:.8em;}
text.city{fill:purple;font-size:1em;}
text.town{fill:green;font-size:.6em;}
text.village{fill:yellow;font-size:.5em;}
text.neighbourhood{fill:brown;font-size:.7em;}*/

text{fill:#22233A !important;font-family: "Merriweather Sans", "Arial", sans-serif ;}

text.map-pin{

	pointer-events:none;
}

.map-pin{
    position: absolute;
    opacity: 0.85;

   /* animation: hideshow 1s 1s ease-out alternate infinite;
    -webkit-animation: hideshow 1s 1s ease-out alternate infinite;
    -moz-animation: hideshow 1s 1s ease-out alternate infinite;
    -o-animation: hideshow 1s 1s ease-out alternate infinite;
    */
}
circle.map-pin{
  cursor:pointer;
  fill: black;
  stroke :white;
  stroke-width :2px;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer, .pins{
  position: absolute;
}


.tile {
  position: absolute;
  width: 256px;
  height: 256px;
  overflow:visible !important;
}

.tile text{
  text-anchor:end;
}

.map-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display:block;
  z-index:2;
}

