nav {
    background: $nav_color;
    z-index: 2;
    color: white;
    ul {
        margin: 0 auto;
        padding: 1em;
        display: table;
        li {
            font-family: $nav_font;
            font-weight: 500;
        }
    }
}

nav a:active,
nav a:hover,
nav a:active,
nav a:visited,
nav a:focus {
    color: white;
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  position: fixed;


.back {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 3em;
    cursor: pointer;
    fill: white;
}

.add {
    position: absolute;
    top: 7px;
    right: 12px;
    width: 3em;
    cursor: pointer;
    fill: white;
}


}
