#play, #stop {
	width:4em;
	height:4em;
	float:left;
	fill: white;
	margin-top:3px;
	cursor:pointer;
}

.player{
	width:100%;
	// max-width:720px;
	display:table;
	margin:0 auto;
    max-height:56px;
    overflow:hidden;

    .playbar{
    	background:url("/images/bg_playbar.png") repeat-x;
    	width: calc(100% - 80px);
    	float:left;
    	height:56px;
    	position:relative;
    
    	.playbar-overlay{
		    position: absolute;
		    height: 56px;
		    width: 0%;
		    background:url("/images/bg_playbar-overlay.png") repeat-x;
		    pointer-events:none;
    	}
    
    	.timecode{
  			color:gainsboro;
			float:right;
			font-size:small;
			padding-top:4px;
		}
    }

}

