<head>
  <title>Detour</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.rawgit.com/mbostock/topojson/master/topojson.js"></script>
  <link href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' >
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
</head>

<body>
</body>



<template name="Home">
{{> menu}}
{{> imageView}}

</template>




<template name="imageView">
  <div class="imageView">
    {{#each events}}
    	{{> singleView}}
    {{/each}}
  	
  </div>
</template>


<template name="singleItem">
	
	{{> singleView}}
	
</template>





