<template name="add">

{{#if optionForm}}
<form id="options">
    <fieldset >
	<label for="fader">Show nearby stories within this range</label>
	<input type="range" name="rangeValue" min="20" max="10000" value="{{radius}}" id="fader" step="20" oninput="amount.value=rangeValue.value">
	<output for="fader" name="amount" id="amount">{{radius}}</output> meters
	<button id="save-options" type="submit">Save</button>
	</fieldset>
</form>



{{/if}}

{{#if isActive}} 
	<form id="story">
	    <fieldset >
			{{#if geoEnabled}}
			<div class="flash-error disabled">
				<span></span>
			</div>
			{{else}}
			<div class="flash-error">
  				<span>Enable location services for a better experience. <a class="help" href="{{pathFor route='home'}}">Help</a></span>
			</div>
			{{/if}}
			<h2>What's your story?</h2>
			<!--p>What's going on in your community?</p-->
	        <input id="name_content" type="text" placeholder="Title">
	        <div contentEditable="true" id="body_content" placeholder="Write something..."></div>
			<input id="location" type="text" placeholder="Location (leave blank for current)">
		    <input type="file" id="file" placeholder="Include image, audio, or video" />
			<!--div class="button-group">
			  <label>
			    <input type="radio" name="type" value="story" checked>
			    <span class="button-group-item">Story</span>
			  </label>
			  <label>
			    <input type="radio" name="type" value="bug">
			    <span class="button-group-item">Bug</span>
			  </label>
			  <label>
			    <input type="radio" name="type" value="feature">
			    <span class="button-group-item">Request</span>
			  </label>
			</div-->
		    <button id="save-story" type="submit">Save</button>
		</fieldset>
	</form>
{{/if}}
</template>