<template name="audioTemplate">
<div class="player">

	{{#if isPlaying}}
		<svg id="stop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><g><path d="M12,22.5C6.21,22.5,1.5,17.789,1.5,12C1.5,6.21,6.21,1.5,12,1.5S22.5,6.21,22.5,12C22.5,17.789,17.79,22.5,12,22.5z    M12,2.42c-5.282,0-9.58,4.297-9.58,9.58c0,5.283,4.297,9.58,9.58,9.58c5.283,0,9.58-4.297,9.58-9.58   C21.58,6.718,17.283,2.42,12,2.42z"/></g><g><g><path d="M10.159,14.979c-0.254,0-0.459-0.205-0.459-0.459V9.481c0-0.254,0.206-0.46,0.459-0.46c0.254,0,0.46,0.207,0.46,0.46    v5.039C10.62,14.773,10.414,14.979,10.159,14.979z"/></g><g><path d="M13.841,14.979c-0.255,0-0.461-0.205-0.461-0.459V9.481c0-0.254,0.206-0.46,0.461-0.46c0.254,0,0.46,0.207,0.46,0.46    v5.039C14.301,14.773,14.095,14.979,13.841,14.979z"/></g></g></svg>
	{{else}}
		<svg id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><g><path d="M10.116,15.714c-0.073,0-0.147-0.018-0.215-0.055c-0.145-0.078-0.235-0.23-0.235-0.396V8.736   c0-0.165,0.091-0.317,0.235-0.396c0.146-0.08,0.322-0.072,0.46,0.018l5.018,3.261c0.128,0.083,0.205,0.225,0.205,0.377   c0,0.152-0.077,0.294-0.205,0.377l-5.018,3.267C10.287,15.689,10.202,15.714,10.116,15.714z M10.566,9.565v4.868l3.742-2.436   L10.566,9.565z"/></g><g><path d="M12,22.5C6.21,22.5,1.5,17.789,1.5,12C1.5,6.21,6.21,1.5,12,1.5S22.5,6.21,22.5,12C22.5,17.789,17.79,22.5,12,22.5z    M12,2.42c-5.282,0-9.58,4.298-9.58,9.58s4.298,9.58,9.58,9.58s9.58-4.298,9.58-9.58S17.282,2.42,12,2.42z"/></g></svg>	
	{{/if}}
	<div class="playbar">
		<div class="playbar-overlay">
		</div>
		<div class="timecode">
		</div>
	</div>
</div>
	<!--audio id="audio" controls webkit-playsinline>
		<source src="{{audioFile}}" >
	</audio-->
</template>

<template name="videoTemplate">
	<div id='video-{{_id}}' data-url="{{this.url}}"></div>
	<!--video controls webkit-playsinline>
		<source src="{{murl}}" type="video/mp4" >
	</video-->
</template>