<template name="fileUpload">
  <form class='upload_form'>
    upload an image

    <input type="file" name="file" class='upload_field cloudinary_fileupload cl_upload_tag'>
    <div class="progress_bar" style='background-color: red, height: 20px'>
    <div class='thumbnails'></div>
  </div>

 {{#each theFiles}}
		<p>{{percent_uploaded}} %</p>
		<p>{{response.public_id}}</p>
		{{#if complete}}
			<img src="{{c.url response.public_id format=response.format}}">
			{{#if format=mp4}}
			<video>
				<source src="{{c.url response.public_id format=response.format}}">
			</video>
			{{/if}}
		{{/if}}
{{/each}}
  </form>
</template>