<template name="footer">
  <footer>
  	{{#if audioPlayer}}
  		{{> audioTemplate}}
  	{{/if}}
  	{{#if slider}}
  		<div class="inline-options">
  			{{radius}} meters
			<input type="range" name="rangeValue" min="0" max="10000" value="{{radius}}" id="fader" step="500">
			
		</div>
  	{{/if}}
  </footer>
</template>
