<template name="help">
    <div id="help" class="imageView">
        <article class="type-system-slab">
            <h1>Help</h1>
            <h3>Location Tracking</h3>
            <p>This site uses location tracking extensively to find stories and multimedia that are nearby.  Location services may be disabled on your device by default. For an optimal experience, enable location services following the instructions at the links below.</p>
            <h4>Instructions per browser/device:</h4>
            <ul>
                <li><a href="https://support.apple.com/en-us/HT201357" target="_blank">iOS</a></li>
                <li><a href="https://support.google.com/gmm/answer/1646140?hl=en" target="_blank">Android</a></li>
                <li><a href="https://support.apple.com/en-us/HT204690" target="_blank">Safari</a></li>
                <li><a href="https://support.google.com/chrome/answer/142065?hl=en" target="_blank">Chrome</a></li>
                <li><a href="https://support.mozilla.org/en-US/kb/improve-mozilla-location-services-turning-location" target="_blank">Firefox</a></li>
                <li><a href="https://support.google.com/chrome/answer/142065?hl=en" target="_blank">Internet Explorer</a></li>
            </ul>
            <hr />
            <h3>Bug Reporting</h3>
            <p><span>This site is best viewed in Chrome, Firefox, or Safari.</span>You are testing pre-alpha software.  Many things are broken or are yet to be implemented.  However, bug reports are very helpful, especially when device and browser are both specified when reporting. Use the <a href="{{pathFor route='add'}}">Add</a> form to report a bug (make sure to check the bug report checkbox). If possible, make a screenshot on your device and upload it with the bug report.  You can view a full list of bugs <a href="{{pathFor route='bugs'}}">here</a>. Below are a few known issues.</p>
            <h4>Known Issues</h4>
            <ul>
                <li>Sorry, no deleting or editing just yet</li>
                <li>Audio takes a long time to load</li>
                <li>Browser back and forward buttons behave inconsistently</li>
                <li>Scrolling can be wonky on mobile devices</li>
                <li>IOS performance could stand improvement</li>
                <li>IE map performance is not good</li>
            </ul>
            <hr />
            <h3>Uploading Multimedia</h3>
            <p>This site uses location tracking extensively to deliver content that is near you.  Location services may be disabled on your device by default. For an optimal experience, enable location services following the instructions at the links below.</p>
            <hr />
            <h3>What makes a good story?</h3>
            <p>This site uses location tracking extensively to deliver content that is near you.  Location services may be disabled on your device by default. For an optimal experience, enable location services following the instructions at the links below.</p>
            <hr />
            <h3>Comments and Voting</h3>
            <p>This site uses location tracking extensively to deliver content that is near you.  Location services may be disabled on your device by default. For an optimal experience, enable location services following the instructions at the links below.</p>
        </article>
    </div>
</template>
