<template name="hud">
<div class="inner">
<div class="grid-items-lines">
	<button class="explore">Explore the map</button>
	<!--button class="configure">Configure options</button-->
  <a class="grid-item" id="nearby_items">
	  <a href="{{pathFor route='nearby'}}"><h1>Nearby Stories</h1></a>
	  {{#each nearby_items}}
		  <small class="distance">{{distance  _lat  _lng this.lat this.lng}} m</small><a class="top-links" href="{{pathFor route='item.single'}}"><h2>{{safeTitle this.name}}</h2></a>
	  {{/each}}
  </a>
  <a class="grid-item" id="recent_items">
	  <a href="{{pathFor route='recent'}}"><h1>Recent Stories</h1></a>
	  	  {{#each recent_items}}
		  <small class="distance">{{formatDate createdAt}}</small><a  class="top-links" href="{{pathFor route='item.single'}}"><h2>{{safeTitle this.name}}</h2></a>
	  {{/each}}
  </a>
   <div class="grid-item" id="trending_items">
	  <a href="{{pathFor route='trending'}}"><h1>Trending Stories</h1></a>
	  {{#each trending_items}}
		  <a class="top-links" href="{{pathFor route='item.single'}}"><h2>{{safeTitle this.name}}</h2></a>
	  {{/each}}
  </div>
</div>
</div>

</template>