<template name="mediaAsset">

{{#if isUploaded}}
	
	{{#if this.hasStored "original"}}
		
	{{/if}}
	{{#if isImage}}
		{{#if thumbs}}
			<img src="{{this.url store='thumbs'}}" class="thumb" data-action="zoom" />
		{{else}}
			{{#if isPhone}}
				<img src="{{mediumURL this}}" alt="" />
			{{else}}
				{{!-- <img src="{{mediumURL this}}" alt="" /> --}}
				<img src="{{imgURL this}}" alt=""  data-action="zoom" /> 
			{{/if}}
		{{/if}}
	{{/if}}

	{{#if isVideo}}
		{{#if video_ready}}
			{{> videoTemplate}}
		{{else}}
			working
		{{/if}}
	{{/if}}

	
{{/if}}

</template>


<template name="thumbAsset">

{{#if isUploaded}}

	{{#if this.hasStored "original"}}
		
	{{/if}}
	{{#if isImage}}
			<img src="{{thumbURL this}}" class="thumb" />

	{{/if}}

	{{#if isVideo}}
			<img src="{{thumbURL this}}" class="thumb" />
	{{/if}}

	
{{/if}}

</template>


<template name="listenWatch">

{{#if isUploaded}}
	
		{{#if isAudio}}
			<small><button class="multimedia audio {{#if isPlaying}}playing{{/if}}">{{#if isPlaying}}Playing{{else}}Listen{{/if}}</button></small>
		{{/if}}

		{{#if isVideo}}
			<!--small><button class="multimedia video"><img src="{{this.url store='thumbs'}}" class="thumb" />Watch</button></small-->
		{{/if}}	

	
{{/if}}
</template>
<template name="listenMain">

{{#if isUploaded}}
	
		{{#if isAudio}}
			<small><button class="multimedia audio {{#if isPlaying}}playing{{/if}}">{{#if isPlaying}}Playing{{else}}Listen{{/if}}</button></small>
		{{/if}}

		{{#if isVideo}}
			<!--small><button class="multimedia video"><img src="{{this.url store='thumbs'}}" class="thumb" />Watch</button></small-->
		{{/if}}	

	
{{/if}}
</template>

