<template name="menu">
<div id="header">

{{#if backHome}}
	<small>
	
	<svg class="back" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><g><g><path d="M14.125,6.858c0.125,0,0.251,0.047,0.349,0.142c0.197,0.192,0.202,0.509,0.01,0.707l-4.125,4.242l4.339,4.339    c0.195,0.195,0.195,0.512,0,0.707s-0.512,0.195-0.707,0l-4.688-4.688c-0.193-0.193-0.195-0.506-0.005-0.702l4.469-4.596    C13.864,6.909,13.994,6.858,14.125,6.858z"/></g></g></svg>		

	</small>
{{/if}}
	<nav>
		<ul>
			
			<li><a class="main" href="{{pathFor route='home'}}">{{#if current}}{{current}}{{else}}DETOUR{{/if}}</a></li>
	

		</ul>
	</nav>
<small>
	<svg class="add" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><path d="M16.642,11.454H12.5V7.313c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5v4.142H7.358c-0.276,0-0.5,0.224-0.5,0.5  s0.224,0.5,0.5,0.5H11.5v4.142c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5v-4.142h4.142c0.276,0,0.5-0.224,0.5-0.5  S16.918,11.454,16.642,11.454z"/></svg>
</small>
</div>
</template>

<template name="currentNearby">
 | NEARBY
</template>