<template name="overlay">
{{#if isCluster}}

  <div class="grid-items-lines">
    {{#each item}}
    <a class="grid-item">
      <div class="top-matter">
          <small>{{formatDate createdAt}} </small> 
          <!--small><a class="delete">del</a> </small-->
          {{> vote}}      
      </div>
      <div> 
        {{> thumbAsset image}}
        {{> listenWatch image}}
      </div>          
      <h1>{{safeTitle name}}</h1>
      <p>{{teaser}}</p>   

    </a>

    {{/each}}
  </div>

{{else}}
  {{#each item}}
    {{> singleView}}
  {{/each}}

{{/if}}
</template>

<template name="vote">
  <div class="vote">
    <small>flag 
    <!-- up -->
    <svg class="up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><g><g><path d="M17.142,14.125c0,0.125-0.047,0.251-0.142,0.349c-0.192,0.197-0.509,0.202-0.707,0.01l-4.242-4.125l-4.339,4.339    c-0.195,0.195-0.512,0.195-0.707,0s-0.195-0.512,0-0.707l4.688-4.688c0.193-0.193,0.506-0.195,0.702-0.005l4.596,4.469    C17.091,13.864,17.142,13.994,17.142,14.125z"/></g></g></svg>

    <svg class="vote-count" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><text x="8" y="15" fill="#000000" font-size="10px" font-weight="normal" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">{{votes}}</text></svg>

     <!-- down -->
     <svg class="down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 30" enable-background="new 0 0 24 24" xml:space="preserve"><g><g><path d="M6.858,9.875C6.858,9.75,6.905,9.624,7,9.526c0.192-0.197,0.509-0.202,0.707-0.01l4.242,4.125l4.339-4.339    c0.195-0.195,0.512-0.195,0.707,0s0.195,0.512,0,0.707l-4.688,4.688c-0.193,0.193-0.506,0.195-0.702,0.005L7.01,10.233    C6.909,10.136,6.858,10.006,6.858,9.875z"/></g></g></svg>

     </small>
  </div>
</template>