<template name="reactivemap">

  {{> menu}}
  
  <div id="d3"></div>

  {{#if isActive}}
    {{#if isCluster}}
      <div id="overlay" class="animate scrollable">{{> overlay}} </div>
    {{else}}
      <div id="overlay" class="animate scrollable item">{{> overlay}} </div>      
    {{/if}}
  {{/if}}

  {{#if addItem}}
    <div id="add" class="scrollable">{{> add}} </div>
  {{/if}}

  {{#if isHelp}}
    <div id="overlay" class="animate scrollable">{{> help}} </div>
  {{/if}}

  {{#if isHud}}
    <div id="hud" class="scrollable">{{> hud}}</div>

  {{/if}}

 {{> footer}} 


</template>