<template name="sidebar">
	<div class="sidebar-inner">
		<div class="profile">
			<div class="profile-image"></div>
			<h4>{{byline}}</h4>
		</div>

		<h2 class="nearby">Nearby</h2>

			{{#each nearby}}
				<small class="distance">{{distance ../item.lat ../item.lng this.lat this.lng}} m</small><a href="{{pathFor route='item.single'}}"><h5>{{safeTitle this.name}}</h5></a>
			{{/each}}
		<h2 class="related">Related</h2>
			<a><h5>Lorem ipsum</h5></a>
			<a><h5>Lorem ipsum</h5></a>
			<a><h5>Lorem ipsum</h5></a>
	</div>

</template>