<template name="singleView">
    <main>
        <article class="type-system-slab {{type}}" id="{{_id}}" data-lat="{{lat}}" data-lng="{{lng}}">
            {{> vote}}

            <header>
              {{#with image}} {{> mediaAsset}} {{/with}}
              <p class="type">near {{neighborhood}}</p>
              <h4 class="cat">{{type}}</h4>
              <h1>{{safeTitle name}}</h1>
              {{#with image}} {{> listenMain}} {{/with}}
              <p class="date">{{formatDate createdAt}}</p>
              <small><a class="delete">delete</a></small>
            </header>
            <section class="main">
            <section class="content">
              <section class="body">
                {{{bodyEdit}}}
                {{!-- <div class="content">{{# markdown}} {{body}} {{/markdown}}</div> --}}
              </section>
              <!--h4 class="tag">tag 1</h4-->
              {{#unless hasBody}}
                <hr />
              {{/unless}}
              <section class="comments">
                <h2 class="comments">Comments</h2>
                    {{#each comments}}
                        <div class="comment">
                          <div class="comment-image">
                            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
                          </div>
                          <div class="comment-content">
                            <!--h1>{{formatDate createdAt}}</h1-->
                            <p>{{body}}</p>
                            <p class="comment-detail">{{formatDate createdAt}}</p>
                          </div>
                        </div>
                    {{/each}}
                {{#if commentButton}}
                    <small ><button class="add-comment">Add comment</button></small>
                {{else}}
                   <form id="comment-form" class="search-bar" role="search">
                      <input type="search" id="comment_body" placeholder="Enter comment" />
                      <button type="submit">
                            Save
                      </button>
                    </form>                
                {{/if}}
              </section>
            </section>
            <section class="sidebar">
              {{> sidebar byline=byline nearby=nearby item=this}}
            </section>
            </section>
        </article>

    </main>
</template>
